{% extends themes %}


{% block body %}

  <!-- breadcrumb -->
  <ol class="breadcrumb">
      <li><a href="{{path('front_index')}}">Home</a></li>
      <li class="active">Reports</li>
  </ol>
  <!-- @breadcrumb -->

  <!-- headings-->
  <div class="section-header">
      <h3 class="text-standard"><i class="fa fa-fw fa-arrow-circle-right text-gray-light"></i> Reports <small> You can change all your details </small></h3>
  </div>
  <!-- @headings-->



{% endblock %}
